telethon
cryptg
pillow
aiohttp
hachoir
pytimeparse
fastapi[all]
fastapi-users[sqlalchemy]
aiosqlite
uvicorn[standard]
gunicorn
alembic
pyotp
qrcode
psycopg2
asyncpg
itsdangerous
pydantic-settings
aioconsole
fastapi-utilities
